.footer {
  width: 100%;
  height: 3rem;
  background-color: #ff9999;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin: 14px 0;
  font-size: 1rem;
}

.footerIcons {
  margin-left: 15px;
}
