.productDescription {
  width: 90%;
  padding: 2%;
  margin: 7rem auto;
  padding: 3rem;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.productImageContainer{
  width: 35%;
}

.productImage {
  width: 100%;
}

.productDetails {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 4rem;

}

.productDetails h1 {
  width: 150px;
  font-size: 1rem;
  display: inline-block;
  color: grey;
}

.productDescriptionText {
  border: 1px solid black;
  font-size: 1rem;
  display: inline-block;
  width: 32rem;
  border-radius: 1rem;
  padding: 1rem;
}
