.productList{
    margin: 50px auto;
}
.btn {
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  background: black;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
  display: block;
  margin: 40px auto;
}

.btn:hover {
  background: #c08caa;
  text-decoration: none;
}
